<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shop.UI</title>
    
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/lib/bulma/css/bulma.css" rel="stylesheet" />
    </environment>
    <environment include="Production">
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/lib/bulma/css/bulma.min.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Index">Admin</a>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2021 - Shop.UI</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment include="Production">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
